<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.hr.mapper.ICountryMapper">

   	<!-- 나라 리스트 --><!-- countryList만 호출 -->
   <select id="selectCountryIdAndList" resultType="com.gd.hr.vo.Country" parameterType="int"> <!-- countryList만 호출-->
      SELECT 
         country_id countryId,
         country_name countryName
      FROM countries 
      WHERE region_id = #{regionId}
   </select>
   
	<!-- 나라 추가 -->
   <insert id="insertCountry" parameterType="com.gd.hr.vo.Country">
      INSERT INTO countries (
         country_id,
         country_name,
         region_id
      ) VALUES (
         #{countryId},
         #{countryName},
         #{regionId}
      )
   </insert>
   
   	<!-- 나라 리스트 -->
   <select id="selectCountryList" resultType="map"> <!-- map : java.util.Map 약식표현, list, string, int(java.lang.Integer),... -->
      SELECT 
         c.country_id countryId,
         c.country_name countryName,
         r.region_id regionId,
         r.region_name regionName 
      FROM countries c INNER JOIN regions r
      ON c.region_id = r.region_id
   </select>
   
   	<!-- 나라 수정 폼-->
   	<select id="selectCountryOne" parameterType="String" resultType="com.gd.hr.vo.Country">
		SELECT
			country_id countryId, <!-- country.setCountryID(값)  -->
			country_name countryName,  <!-- country.setCountryName(값)  -->
			region_id regionId 
		FROM countries 
		WHERE country_id = #{countryId}
	</select>
	
	<!-- 나라 수정 액션-->
   	<update id="updateCountry" parameterType="com.gd.hr.vo.Country">
   	 UPDATE countries SET 
   	 	country_id= #{countryId}, 
   	 	country_name= #{countryName}, 
   	 	region_id= #{regionId} 
   	 WHERE country_id= #{countryId}	
   	</update>
   	
   	<!-- 나라 삭제 -->
   <!-- 	<delete id="deleteCountry" parameterType="String">
   	 DELETE FROM counties  
   	 WHERE countries_id= #{countryID}
   	</delete>
   	 -->
   	<delete id="deleteCountryByRegionId" parameterType="int">
    DELETE FROM counties   
   	WHERE region_id= #{RegionId}  	
   	</delete>
   	
   	</mapper>